{% extends 'base.html' %}

{% block content %}
    <h1 class="mt-5">Cadastro de Empresa</h1>
    <form>
        <div class="form-group">
            <label for="nomeEmpresa">Nome da Empresa</label>
            <input type="text" class="form-control" id="nomeEmpresa" placeholder="Digite o nome da empresa">
        </div>
        <div class="form-group">
            <label for="cnpjEmpresa">CNPJ</label>
            <input type="text" class="form-control" id="cnpjEmpresa" placeholder="Digite o CNPJ da empresa">
        </div>
        <button type="submit" class="btn btn-primary">Cadastrar Empresa</button>
    </form>
{% endblock %}
